<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>

      <h3>Links</h3>
      <p>AJAX Using JavaScript with Node.js for GET request <a href="/js_get">Click Here</a></p>
      <p>AJAX Using JavaScript with Node.js for POST request <a href="/js_post">Click Here</a></p>
      <p>AJAX Using jQuery with Node.js for GET request <a href="/jQuery_get">Click Here</a></p>
      <p>AJAX Using jQuery with Node.js for POST request <a href="/jQuery_post">Click Here</a></p>
      
    </div>
  </body>
</html>
