<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        #view {
            text-align: center;
        }
    </style>
</head>

<body>

    <div id="view">
        <h2>The XMLHttpRequest Object</h2>

        <form action="">
            <select name="user" onchange="showData(this.value)">
                <option value="">--Select--</option>
                <% users.forEach(function(user){ %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% }) %>
            </select>
        </form>
        <div id="userData"></div>
    </div>



    <script>
        function showData(id) {
            var xhttp;
            if (id == "") {
                document.getElementById("userData").innerHTML = "";
                return;
            }
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/users/userDataGet?id=" + id, true);

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("userData").innerHTML = this.responseText;
                }
            };

            xhttp.send();
        }
    </script>

</body>

</html>