<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="/jquery/jquery.js"></script>

    <style>
        #view {
            text-align: center;
        }
    </style>
</head>

<body>

    <div id="view">
        <h2>The XMLHttpRequest Object jquery POST request</h2>

        <form action="">
            <select name="user" id="showData">
                <option value="">--Select--</option>
                <% users.forEach(function(user){ %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% }) %>
            </select>
        </form>
        <div id="userData"></div>
    </div>



    <script>

        $('#showData').change(function () {
            var id = $('#showData').val();

            $.ajax({
                url: '/users/userDataPost',
                type: 'post',
                cache: false,
                data: { id: id },
                success: function (data) {
                    //alert('Success!')
                    $('#userData').text(data)
                }
                , error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
            })
        });

    </script>

</body>

</html>